* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#name  {
    background-color: rgb(75, 74, 74);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    height: 1000px;
}

.item-1 {
     
     background-color: rgb(248, 242, 242);
     flex-grow: .5;     
   
}

.search-row {
    width: 50%;
    margin: 0 auto;
}

.item-2 {
    flex-grow: 2;
}

.container-1 {
    padding: 20px
}

.row-city {
    border: solid thin rgb(207, 205, 205);
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#city {
    border: solid thin rgb(207, 205, 205);
    border-radius: 5px;
    margin: 30px 15px;
    padding: 180px;
}

.card-container {
    display: 
}

.card-card {
    display:flex;
    justify-content: space-around;
}

.card {
    padding: 80px 40px;
}

