* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*General*/
header {
    background-color: rgb(75, 74, 74);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    height: 1000px;
}

/*Search/Saved Navigation*/
#flex-1 {
     background-color: rgb(248, 242, 242);
     flex-grow: .5;     
}

#search-row {
    width: 90%;
    margin: 0 auto;
}

.container {
    padding: 20px;
}

#saved-city {
    margin: 0 40px 0 40px;
}

.row-city {
    border: solid thin rgb(207, 205, 205);
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 300px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:0 5px 5px 0;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*Forecast*/
h3 {
    margin: 20px;
}
#flex-2 {
    flex-grow: 2;
}
#city {
    border: solid thin rgb(207, 205, 205);
    border-radius: 5px;
    margin: 30px 15px;
    padding: 180px;
}

#cards {
    display:flex;
    justify-content: space-around;
}

.card {
    padding: 80px 40px;
    background-color: rgb(25, 115, 250);
}

